*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.users_block{
  margin-top: 20px;
}
input{
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  padding: 5px 10px;
}
.users{
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}
.user{
  width: 100%;
  border: 1px solid rgb(30, 31, 102);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.number{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgb(82, 73, 73);
}
button{
  height: 30px;
  width: 80px;
}
.modal_box{
  position: absolute;
  width: 100%;
  padding: 30px 0;
  display: flex;
  z-index: 111;
  justify-content: center;
  align-items: center;
  background: rgba(85, 83, 83, 0.7);
  top: 0;
  left: 0;
}
.modal{
  padding: 20px 30px;
  border-radius: 10px;
  width: 80%;
  background: #fff;
}
.repos_number{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30%;
  width: 100%;
}
.repo{
  width: 100%;
  border: 1px solid rgb(30, 31, 102);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.user_info{
  display: flex;
  column-gap: 30px;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}
.user_info img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
span{
  font-weight: 700;
}
.pages{
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.page{
  border: 1px solid lightgray;
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}
.currant_page{
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid rgb(80, 78, 78);
  font-weight: 700;
}